{{>layout/seller_header}}
    <section class="breadcrumbs-custom">
        <div class="parallax-container" data-parallax-img="images/bg-about.jpg">
            <div class="breadcrumbs-custom-footer parallax-content context-dark page-title">
                <div class="container cart-container">
                    <h2 class="text-transform-capitalize breadcrumbs-custom-title">메뉴 등록</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Get in touch-->
    <section class="section section-xl bg-default text-md-left">
        <div class="container">
            <div class="title-classic">
                <h3 class="title-classic-title">메뉴 등록</h3>
                <p class="title-classic-subtitle">판매할 메뉴를 등록하세요<!--<br class="d-none d-lg-block">quick contact form to ask a question about our products.</p>-->
            </div>
            <form>
                <div class="row row-20 row-md-30">
                    <div class="col-lg-8">
                        <div class="row row-20 row-md-30">
                            <div class="col-sm-6">
                                <div class="form-wrap">
                                    <input class="form-input" id="menuName" type="text" name="menuName" data-constraints="@Required"/>
                                    <label class="form-label" for="menuName">메뉴 이름</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-wrap">
                                    <input class="form-input" id="menuPrice" type="text" name="menuPrice" data-constraints="@Numeric"/>
                                    <label class="form-label" for="menuPrice">메뉴 가격</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-wrap">
                                    <select id="menuType" name="menuType">
                                        <option value=1>커피</option>
                                        <option value=2>음료</option>
                                        <option value=3>브레드</option>
                                        <option value=4>빙수/아이스크림</option>
                                        <option value=5>시즌 메뉴</option>
                                    </select>
                                    <label class="form-label" for="menuType">메뉴 타입</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-wrap">
                                    <input class="form-input" id="menuCalorie" type="text" name="menuCalorie" data-constraints="@Numeric"/>
                                    <label class="form-label" for="menuCalorie">칼로리</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-wrap">
                            <label class="form-label" for="menuDescription">메뉴 설명</label>
                            <textarea class="form-input textarea-lg" id="menuDescription" name="menuDescription" data-constraints="@Required"></textarea>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="sellerId" value="1">
                <input type="hidden" id="menuImg" value="1">
                <button class="button button-lg button-primary button-zakaria" type="button" onclick="save_menu()">메뉴 등록</button>
            </form>
        </div>
    </section>
    <!-- Page Footer-->
    <footer class="section footer-modern footer-modern-2">
        <div class="footer-modern-panel text-center">
            <div class="container">
                <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>MOS</span><span>.&nbsp; All rights reserved.</span><span>&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a><span>.</span></p>
            </div>
        </div>
    </footer>
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
<script src="app/edit_menu.js"></script>
</body>
</html>