<!DOCTYPE html>
<html class="wide wow-animation" lang="ko">
<head>
    <title>MOS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLato%7CKalam:300,400,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/app/pop_up.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
</head>
<body>
<div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
<div class="preloader">
    <div class="preloader-body">
        <div class="cssload-bell">
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
        </div>
    </div>
</div>
<div class="page">
    <header class="section page-header header-creative-wrap context-dark">
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-creative rd-navbar-creative-2" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="100px" data-xl-stick-up-offset="112px" data-xxl-stick-up-offset="132px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-aside-outer" style="background-color: #C5E5F2;">
                   <div class="rd-navbar-aside">
                        <div class="rd-navbar-collapse"></div>
                        <div class="rd-navbar-panel" style="background-color: #C5E5F2;">
                            <div class="rd-navbar-brand">
                                <!--로고-->
                                  <a class="brand" href="/order"><img class="brand-logo-dark" src="/images/main_logo.png" alt="" width="150" height="150"/><img class="brand-logo-light" src="/images/main_logo.png" alt="" width="150" height="150"/></a>
                            </div>
                            <a class="rd-navbar-basket rd-navbar-basket-mobile order-list fl-bigmug-line-clipboard68" onclick="go_result()"></a>
                        </div>
                       <!-- 오른쪽 상단 주문내역 버튼-->
                        <div class="rd-navbar-aside-element">
                            <div class="rd-navbar-basket-wrap">
                                <div class="rd-navbar-collapse">
                                    <button class="rd-navbar-basket fl-bigmug-line-clipboard68" onclick="go_result()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main fix">
                            <ul class="rd-navbar-nav menu-ul">
                                <li class="rd-nav-item menu-li"><a class="rd-nav-link" href="/order"><span>메뉴</span></a>
                                </li>
                                <li class="rd-nav-item menu-li"><a class="rd-nav-link" href="/cart"><span>장바구니</span></a>
                                </li>
                            </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- 메뉴리스트 -->
    <section class="section section-xxl bg-default">
        <div class="container">
            <h2 class="text-transform-capitalize wow fadeScale">menu</h2>
            <div class="isotope-wrap">
                <div class="isotope-filters">
                    <button class="isotope-filters-toggle button button-sm button-icon button-icon-right button-default-outline" data-custom-toggle=".isotope-filters-list" data-custom-toggle-disable-on-blur="true" data-custom-toggle-hide-on-blur="true"><span class="icon mdi mdi-chevron-down"></span>Filter</button>
                    <div class="isotope-filters-list-wrap">
                        <ul class="isotope-filters-list">
                            <li><a class="active" href="#" data-isotope-filter="*">All</a></li>
                            <li><a href="#" data-isotope-filter="Type 1">커피</a></li>
                            <li><a href="#" data-isotope-filter="Type 2">음료</a></li>
                            <li><a href="#" data-isotope-filter="Type 3">브레드</a></li>
                            <li><a href="#" data-isotope-filter="Type 4">빙수/아이스크림</a></li>
                            <li><a href="#" data-isotope-filter="Type 5">시즌 메뉴</a></li>
                        </ul>
                    </div>
                </div>


                <div class="row row-30 isotope isotope-custom-1" data-lightgallery="group">
                    {{#type1}}
                        <form name="basket{{menuId}}">
                            <input type="hidden" id="consumerId{{menuId}}"  value="1">
                            <input type="hidden" id="menuId{{menuId}}"  value="{{menuId}}">
                        </form>
                        <div class="col-sm-6 col-lg-4 col-xl-3 isotope-item" data-filter="Type 2">
                            <article class="thumbnail-classic block-1">
                                <div class="thumbnail-classic-figure"><img src="{{menuImg}}" alt="" width="270" height="250"/>
                                </div>
                                <div class="thumbnail-classic-caption">
                                    <div>
                                        <h5 class="thumbnail-classic-title"><a href="single_product">{{menuName}}</a></h5>
                                        <div class="thumbnail-classic-price product-price">{{menuPrice}}원</div>
                                        <div class="thumbnail-classic-button-wrap">
                                            <div class="thumbnail-classic-button"><a class="button button-gray-6 button-zakaria fl-bigmug-line-search74" href="/images/카페라떼.jpg" data-lightgallery="item"><img src="/images/카페라떼.jpg" alt="" width="270" height="250"/></a></div>
                                            <div class="thumbnail-classic-button"><button type="button" class="button button-primary button-zakaria fl-bigmug-line-shopping202" onclick="add_cart({{menuId}},'{{menuName}}',{{menuPrice}}, '{{menuImg}}')"></button></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {{/type1}}
                    {{#type2}}
                        <form name="basket{{menuId}}">
                            <input type="hidden" id="consumerId{{menuId}}"  value="1">
                            <input type="hidden" id="menuId{{menuId}}"  value="{{menuId}}">
                        </form>
                        <div class="col-sm-6 col-lg-4 col-xl-3 isotope-item" data-filter="Type 2">
                            <article class="thumbnail-classic block-1">
                                <div class="thumbnail-classic-figure"><img src="{{menuImg}}" alt="" width="270" height="250"/>
                                </div>
                                <div class="thumbnail-classic-caption">
                                    <div>
                                        <h5 class="thumbnail-classic-title"><a href="single_product">{{menuName}}</a></h5>
                                        <div class="thumbnail-classic-price product-price">{{menuPrice}}원</div>
                                        <div class="thumbnail-classic-button-wrap">
                                            <div class="thumbnail-classic-button"><a class="button button-gray-6 button-zakaria fl-bigmug-line-search74" href="/images/카페라떼.jpg" data-lightgallery="item"><img src="/images/카페라떼.jpg" alt="" width="270" height="250"/></a></div>
                                            <div class="thumbnail-classic-button"><button type="button" class="button button-primary button-zakaria fl-bigmug-line-shopping202" onclick="add_cart({{menuId}},'{{menuName}}',{{menuPrice}}, '{{menuImg}}')"></button></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {{/type2}}
                    {{#type3}}
                        <form name="basket{{menuId}}">
                            <input type="hidden" id="consumerId{{menuId}}"  value="1">
                            <input type="hidden" id="menuId{{menuId}}"  value="{{menuId}}">
                        </form>
                        <div class="col-sm-6 col-lg-4 col-xl-3 isotope-item" data-filter="Type 3">
                            <article class="thumbnail-classic block-1">
                                <div class="thumbnail-classic-figure"><img src="{{menuImg}}" alt="" width="270" height="250"/>
                                </div>
                                <div class="thumbnail-classic-caption">
                                    <div>
                                        <h5 class="thumbnail-classic-title"><a href="single_product">{{menuName}}</a></h5>
                                        <div class="thumbnail-classic-price product-price">{{menuPrice}}원</div>
                                        <div class="thumbnail-classic-button-wrap">
                                            <div class="thumbnail-classic-button"><a class="button button-gray-6 button-zakaria fl-bigmug-line-search74" href="/images/카페라떼.jpg" data-lightgallery="item"><img src="/images/카페라떼.jpg" alt="" width="270" height="250"/></a></div>
                                            <div class="thumbnail-classic-button"><button type="button" class="button button-primary button-zakaria fl-bigmug-line-shopping202" onclick="add_cart({{menuId}},'{{menuName}}',{{menuPrice}}, '{{menuImg}}')"></button></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {{/type3}}
                    {{#type4}}
                        <form name="basket{{menuId}}">
                            <input type="hidden" id="consumerId{{menuId}}"  value="1">
                            <input type="hidden" id="menuId{{menuId}}"  value="{{menuId}}">
                        </form>
                        <div class="col-sm-6 col-lg-4 col-xl-3 isotope-item" data-filter="Type 4">
                            <article class="thumbnail-classic block-1">
                                <div class="thumbnail-classic-figure"><img src="{{menuImg}}" alt="" width="270" height="250"/>
                                </div>
                                <div class="thumbnail-classic-caption">
                                    <div>
                                        <h5 class="thumbnail-classic-title"><a href="single_product">{{menuName}}</a></h5>
                                        <div class="thumbnail-classic-price product-price">{{menuPrice}}원</div>
                                        <div class="thumbnail-classic-button-wrap">
                                            <div class="thumbnail-classic-button"><a class="button button-gray-6 button-zakaria fl-bigmug-line-search74" href="/images/카페라떼.jpg" data-lightgallery="item"><img src="/images/카페라떼.jpg" alt="" width="270" height="250"/></a></div>
                                            <div class="thumbnail-classic-button"><button type="button" class="button button-primary button-zakaria fl-bigmug-line-shopping202" onclick="add_cart({{menuId}},'{{menuName}}',{{menuPrice}}, '{{menuImg}}')"></button></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {{/type4}}
                    {{#type5}}
                        <form name="basket{{menuId}}">
                            <input type="hidden" id="consumerId{{menuId}}"  value="1">
                            <input type="hidden" id="menuId{{menuId}}"  value="{{menuId}}">
                        </form>
                        <div class="col-sm-6 col-lg-4 col-xl-3 isotope-item" data-filter="Type 5">
                            <article class="thumbnail-classic block-1">
                                <div class="thumbnail-classic-figure"><img src="{{menuImg}}" alt="" width="270" height="250"/>
                                </div>
                                <div class="thumbnail-classic-caption">
                                    <div>
                                        <h5 class="thumbnail-classic-title"><a href="single_product">{{menuName}}</a></h5>
                                        <div class="thumbnail-classic-price product-price">{{menuPrice}}원</div>
                                        <div class="thumbnail-classic-button-wrap">
                                            <div class="thumbnail-classic-button"><a class="button button-gray-6 button-zakaria fl-bigmug-line-search74" href="/images/카페라떼.jpg" data-lightgallery="item"><img src="images/카페라떼.jpg" alt="" width="270" height="250"/></a></div>
                                            <div class="thumbnail-classic-button"><button type="button" class="button button-primary button-zakaria fl-bigmug-line-shopping202" onclick="add_cart({{menuId}},'{{menuName}}',{{menuPrice}}, '{{menuImg}}')"></button></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {{/type5}}
                </div>
            </div>
        </div>
    </section>
    <footer class="section footer-modern footer-modern-2">
        <div class="footer-modern-panel text-center">
            <div class="container">
                <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>MOS</span><span>.&nbsp; All rights reserved.</span><span>&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a><span>.</span></p>
            </div>
        </div>
    </footer>
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="/js/core.min.js"></script>
<script src="/js/script.js"></script>
<script type="text/javascript">
    function add_cart(menuId, menuName, menuPrice, menuImg) {
        var id = JSON.parse(sessionStorage.getItem(menuId));
        var num = 1;

        if(id != null){
            num = id.count + 1;
        }

        var menu = {
                name : menuName,
                price : menuPrice,
                count : num,
                img : menuImg
        };
        sessionStorage.setItem(menuId, JSON.stringify(menu));
        alert("메뉴 추가");
    }
    function go_result(){
        var id = sessionStorage.getItem("id");
        if(id == null)
            alert("주문내역이 없습니다.");
        else{
        location.href="/result/" + id;
        }
    }
</script>
</body>
</html>