<!DOCTYPE html>
<html class="wide wow-animation" lang="ko">
<head>
    <title>MOS(판매자)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLato%7CKalam:300,400,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
</head>
<body>
<div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
<div class="preloader">
    <div class="preloader-body">
        <div class="cssload-bell">
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
        </div>
    </div>
</div>
<div class="page">
    <!--상단 바 -->
    <header class="section page-header">
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-creative rd-navbar-creative-2" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="100px" data-xl-stick-up-offset="112px" data-xxl-stick-up-offset="132px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                <div class="rd-navbar-aside-outer">
                    <div class="rd-navbar-aside">
                        <div class="rd-navbar-collapse">
                            <ul class="contacts-classic">
                                <li><span class="contacts-classic-title">Call us:</span> <a class="link" href="tel:#">010 - 1234 - 5678</a>
                                </li>
                                <li><a href="mailto:#">mos@skhu.ac.kr</a></li>
                            </ul><a class="rd-navbar-basket rd-navbar-basket-mobile fl-bigmug-line-shopping202" href="#"><span>2</span></a>
                        </div>
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <!-- 로고 -->
                            <div class="rd-navbar-brand">
                                <!--로고 이미지--><a class="brand" href="seller_start"><img class="brand-logo-dark" src="images/logo-default-234x82.png" alt="" width="117" height="41"/><img class="brand-logo-light" src="images/logo-inverse-234x82.png" alt="" width="117" height="41"/></a>
                            </div>
                        </div>
                        <div class="rd-navbar-aside-element">
                            <!-- 검색버튼 삭제 예정 -->
                            <div class="rd-navbar-search rd-navbar-search-2">
                                <button class="rd-navbar-search-toggle rd-navbar-fixed-element-3" data-rd-navbar-toggle=".rd-navbar-search"><span></span></button>
                                <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                                    <div class="form-wrap">
                                        <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>
                                        <label class="form-label" for="rd-navbar-search-form-input">Search...</label>
                                        <div class="rd-search-results-live" id="rd-search-results-live"></div>
                                        <button class="rd-search-form-submit fl-bigmug-line-search74" type="submit"></button>
                                    </div>
                                </form>
                            </div>
                            <!-- 장바구니 버튼 삭제 예정 -->
                            <div class="rd-navbar-basket-wrap">
                                <button class="rd-navbar-basket fl-bigmug-line-shopping202" data-rd-navbar-toggle=".cart-inline"><span>2</span></button>
                                <div class="cart-inline">
                                    <div class="cart-inline-header">
                                        <h5 class="cart-inline-title">In cart:<span> 2</span> Products</h5>
                                        <h6 class="cart-inline-title">Total price:<span> $44</span></h6>
                                    </div>
                                    <div class="cart-inline-body">
                                        <div class="cart-inline-item">
                                            <div class="unit unit-spacing-sm align-items-center">
                                                <div class="unit-left"><a class="cart-inline-figure" href="single-product.html"><img src="images/product-mini-1-106x104.jpg" alt="" width="106" height="104"/></a></div>
                                                <div class="unit-body">
                                                    <h6 class="cart-inline-name"><a href="single-product.html">Forest Berry</a></h6>
                                                    <div>
                                                        <div class="group-xs group-middle">
                                                            <div class="table-cart-stepper">
                                                                <input class="form-input" type="number" data-zeros="true" value="1" min="1" max="1000"/>
                                                            </div>
                                                            <h6 class="cart-inline-title">$18.00</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart-inline-item">
                                            <div class="unit unit-spacing-sm align-items-center">
                                                <div class="unit-left"><a class="cart-inline-figure" href="single-product.html"><img src="images/product-mini-2-106x104.jpg" alt="" width="106" height="104"/></a></div>
                                                <div class="unit-body">
                                                    <h6 class="cart-inline-name"><a href="single-product.html">Tomatoes</a></h6>
                                                    <div>
                                                        <div class="group-xs group-middle">
                                                            <div class="table-cart-stepper">
                                                                <input class="form-input" type="number" data-zeros="true" value="1" min="1" max="1000"/>
                                                            </div>
                                                            <h6 class="cart-inline-title">$16.00</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-inline-footer">
                                        <div class="group-sm"><a class="button button-default-outline-2 button-zakaria" href="cart-page.html">Go to cart</a><a class="button button-primary button-zakaria" href="checkout.html">Checkout</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 언어 설정 버튼 삭제 예정 -->
                            <div class="rd-navbar-fixed-element-2 select-inline">
                                <select data-dropdown-class="select-inline-dropdown">
                                    <option value="en">en</option>
                                    <option value="fr">fr</option>
                                    <option value="es">es</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- 페이지 소개 -->
    <section class="breadcrumbs-custom">
        <div class="parallax-container" data-parallax-img="images/bg-about.jpg">
            <div class="breadcrumbs-custom-body parallax-content context-dark">
                <div class="container">
                    <h2 class="text-transform-capitalize breadcrumbs-custom-title">판매</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- 주문 목록 -->
    <section class="section section-xxl bg-default text-center">
        <div class="container">
            <div class="group-sm">
                <button class="button button-default-outline-2 button-zakaria" onclick="statusOff(1)">판매 종료</button>
                <button class="button button-lg button-secondary button-zakaria">{{status}}</button>
                <button class="button button-primary button-zakaria" onclick="statusOn(1)">판매 시작</button>
            </div>
            <div class="title-group">
                <h3 class="text-capitalize">주문 목록</h3>
                <p class="text-width-large">Please check the order list here.</p>
            </div>
            <div class="row row-xl row-30 justify-content-center">
                {{#orderMenu}}
                <div class="col-sm-6 col-lg-4">
                    <article class="pricing-classic">
                        <div class="pricing-classic-header"><img class="pricing-classic-figure" src="images/pricing-1-346x229.jpg" alt="" width="346" height="229"/>
                            <div class="pricing-classic-caption">
                                <div>
                                    <h3 class="pricing-classic-title">주문번호 {{id}}</h3>
                                    <div class="pricing-classic-price-wrap">
                                        <div class="pricing-classic-price heading-4">{{total}}원</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-classic-body">
                            <ul class="pricing-classic-list">
                                {{#menus}}
                                <li><span>{{name}}</span> {{count}}</li>
                                {{/menus}}
                            </ul>
                            <button class="button button-lg button-default-outline button-zakaria" onclick="delete_order({{id}})">주문 취소</button>
                            <button class="button button-lg button-default-outline button-zakaria" onclick="finish_order({{id}})">조리 완료</button>
                        </div>
                    </article>
                </div>
                {{/orderMenu}}
            </div>
        </div>
    </section>
    <!-- Page Footer-->
    <footer class="section footer-modern footer-modern-2">
        <div class="footer-modern-panel text-center">
            <div class="container">
                <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>MOS</span><span>.&nbsp; All rights reserved.</span><span>&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a><span>.</span></p>
            </div>
        </div>
    </footer>
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
<script src="app/sales.js"></script>
</body>
</html>